@import "../styles/Shared.scss";

.products-list {
  list-style: none;
  margin: 3rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-column-gap: 2rem;

  @include breakpoint(mobile){
    margin: 1.5rem;
  }
}

.placeholder {
  margin: 4rem;
  text-align: center;
}
