@import "../../styles/Shared.scss";

.product-item{

  color: white;

  .is-fav{
    color: $brand_color_pink__alt_1;
  }

  h2 {
    font-size: 1.25rem;
    margin: 0.25rem 0;
  }

  p{
    margin: 0.25rem 0;
    font-size: 1.1rem;
  }

}
