// Slowly increase opacity of the card
@keyframes fade-in{
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}

// Change the gradient of the colors assuming the background size is big enough
@keyframes gradient{
    0%{ background-position: 0% 0%; }
    50%{ background-position: 100% 100%; }
    100%{ background-position: 0% 0%; }
}

// Gradient effect that's more fiddly but less resource intensive
@keyframes efficient-gradient{

    0%{ 
        transform: translateX(0%); 
        -webkit-transform: translateX(0%);
    }

    25%{ 
        transform: translate(-37.5%); 
        -webkit-transform: translateX(-37.5%);
    }

    50%{ 
        transform: translateX(-75%);
        -webkit-transform: translateX(-75%); 
    }

    75%{ 
        transform: translateX(-37.5%); 
        -webkit-transform: translateX(-37.5%);
    }

    100%{ 
        transform: translateX(0%); 
        -webkit-transform: translateX(0%);
    }
    
}

/*
    Slide in animation for the burger menu on the right hand side
*/
@keyframes burger-menu-slide-in{
    0%{
        left: 100%;
    }
    100%{
        left: calc(100% - 300px);
    }
}

// Pulse hover effect
@keyframes pulse{
    0%{ transform: scale(1); }
    50%{ transform: scale(1.2); }
    100%{ transform: scale(1); }
}

// Spin effect
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes shake {
    0%{ transform: rotate(0deg); }
    25%{ transform: rotate(4deg); }
    50%{ transform: rotate(0deg); }
    75%{ transform: rotate(-4deg); }
    100%{ transform: rotate(0deg); }
}

// Standard transition
$standard_transition: all 0.15s linear;
$quick_transition: all 0.125s ease-in-out;