$brand_color_pink: #ff2058;
$brand_color_pink__alt_1: #ff0645;
$brand_color_pink__alt_2: #ff3a6b;
$brand_color_pink__alt_3: #ffbdce;

$brand_color_purple: #560061;
$brand_color_transparent: rgba(255, 255, 255, 0.1);

// backdrop
$backdrop_color_one: rgb(30, 32, 42);
$backdrop_color_two: rgba(0, 0, 0);

// box shadow
$box_shadow: ( 0px 0px 20px 0px rgba(0,0,0,0.4) );
$button_shadow: ( 0px 0px 15px 0px rgba(0,0,0,0.2) );

// Gaps
$gap: 1rem;