$brand_color_pink: #ff2058;
$brand_color_purple: #560061;

// backdrop
$backdrop_color_one: rgb(30, 32, 42);

// box shadow
$box_shadow: ( 0px 0px 20px 0px rgba(0,0,0,0.4) );
$button_shadow: ( 0px 0px 15px 0px rgba(0,0,0,0.2) );

// Gaps
$gap: 1rem;