@import "./styles/Shared.scss";

* {
  box-sizing: border-box;
  transition: $standard_transition;
}

html, body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  height: 100%;
}

/* Scroll bar */
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(30, 32, 42);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $brand_color_purple;
  border-radius: 4px;
}

/* Corner when scrollbar intersects */
::-webkit-scrollbar-corner {
  background: rgb(30, 32, 42);
}