@import "../../styles/Shared.scss";

.main-header {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $brand_color_pink;
  padding: 0 0.5rem;

  &__logo{
    color: white;
    display: flex;
    align-items: center;
    grid-column-gap: 0.5rem;
    font-weight: 400;
    font-size: 1.1rem;
    filter: contrast(90%);
    transition: $standard_transition;

    will-change: filter;

    @include states{
      filter: contrast(100%);
    }

    svg{
      width: 25px;
      height: 25px;

      will-change: transform;
      animation: shake 3s linear infinite;
    }
  }

  nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      padding: 0;
      margin: 0 2rem;
    }
  }

  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-bottom: 0.1rem;
    transition: $quick_transition;
  }
}

