@import "../../styles/Shared.scss";

.main-header {
  height: 3.5rem;
  width: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;

  &__background{
    position: relative;
    width: 400%;
    height: 100%;
    background: white;
    animation: efficient-gradient 5s linear infinite;
    background: $brand_gradient_pink;
    bottom: 100%;
    will-change: transform;
    z-index: 1;
  }

  &__logo{
    color: white;
    display: flex;
    align-items: center;
    grid-column-gap: 0.5rem;
    font-weight: 400;
    font-size: 1.1rem;
    filter: contrast(90%);
    transition: $standard_transition;
    height: 100%;
    margin-right: auto;
    padding: 0 0.5rem;
    z-index: 5;
    position: relative;

    will-change: filter;

    @include states{
      filter: contrast(100%);
    }

    svg{
      width: 25px;
      height: 25px;

      will-change: transform;
      animation: shake 3s linear infinite;
    }
  }

  nav {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      padding: 0;
      margin: 0 2rem;
    }
  }

  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-bottom: 0.1rem;
    transition: $quick_transition;
  }
}

