@import "../../styles/Shared.scss";

.fade-in{
    animation: fade-in 0.5s ease-in;
}

.bm-menu{
    position: relative;
    z-index: 1100;

    nav{
        display: flex;
        flex-direction: column;
    }

    a{
        color: white;
        text-decoration: none;
        width: 100%;
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        font-size: 1.1rem;
        align-items: center;
        grid-column-gap: 0.5rem;
        outline: 0;
        transition: $standard_transition;
        padding: 1rem;
        max-height: 3rem;

        &.active{
            background: $brand_color_purple;
        }
    }

    svg{
        width: 20px;
        height: 20px;
        animation: shake 5s linear infinite;
    }
}

.bm-burger-button{
    z-index: 1000;
    position: absolute;
    top: 0.8rem;
    right: 0.75rem;
    width: 30px;
    height: 30px;

    
}

.burger-menu{
    z-index: 1000;
    position: absolute;
    width: 30px;
    height: 30px;
}

.bm-menu-wrap{
    transition: transform 0.5s linear;
    overflow: hidden;

    &:before{
        content: "";
        position: absolute;
        left: 0%;
        top: 0;
        right: 0;
        bottom: 0;
        background: $brand_gradient_pink;
        z-index: 1000;
        width: 400%;
        will-change: transform;
        animation: efficient-gradient 5s linear infinite;
    }

    @include breakpoint(mobile){
        width: 100% !important;
    }
}